@{ViewData["Title"] = "Task 1";}

    <h1>Task 1</h1>
    <h2>Задание:</h2>
    <p>
    Получить информацию о поставщиках, которые осуществляли
    поставки деталей из заданного города в указанный период.
    </p>
    
    <form method="post">
    <label class="text-field__label">Укажите город:</label>
        @ViewData["TownPost"]
        <br />
    <label class="text-field__label">В периоде от:</label>
        @ViewData["time_start"] <br />
    <label class="text-field__label">В периоде до:</label>
        @ViewData["time_end"] <br />
        <button type="submit">Подтвердить</button>
    </form>

