@{
    ViewData["Title"] = "Task 2";
}
<h1>@ViewData["Title"]</h1>
<h2>Задание:</h2>
<p>Вставить поставщика с заданными параметрами.</p>

<form method="post">
    <label class="text-field__label">Укажите имя поставщика: </label>
    <input class="text-field__input" type="text" name="name_post" maxlength="20" /> <br />
    <label class="text-field__label">Укажите рейтинг поставщика: </label>
    <input class="text-field__input" type="number" name="reiting" max="2147483647" min="-2147483648" /> <br />
    <label class="text-field__label">Укажите город поставщика: </label>
    <input class="text-field__input" type="text" name="town" maxlength="20" /> <br />
    <button type="submit">Подтвердить</button>
</form>
